@import "tailwindcss";

@theme {
  --color-deep-mauve: #32272e;
  --color-dark-purple: #3a2f3c;
  --color-deep-brown-mauve: #2c242a;
  --color-dusty-rose: #ad6d94;
  --color-soft-pink: #f7afb7;
}

:root {
  background-color: var(--color-deep-mauve);
  color: #ffffff;
}

/* Custom Scrollbar */
::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

::-webkit-scrollbar-track {
  background: var(--color-deep-mauve);
}

::-webkit-scrollbar-thumb {
  background: var(--color-dusty-rose);
  border-radius: 5px;
  border: 2px solid var(--color-deep-mauve);
}

::-webkit-scrollbar-thumb:hover {
  background: var(--color-soft-pink);
}